<% layout('./layouts/admin.ejs') -%>

<h2>List of users</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Activated</th>
        <th>Enable/Disable account</th>
        <% if (loginId == 1) {%>
            <th>Promote/demote account</th>
        <% } %>
    </tr>
    <% users.forEach(function (user) { %>
        <tr>
            <td><%= user.username%></td>
            <td><%= user.email%></td>
            <td><%= user.role%></td>
            <% if (user.activationCode) { %>
                <td>false</td>
            <% } else  { %>
                <td>true</td>
            <% } %>

            <% if (loginId != user.id) {%>
                <% if (!user.isDisabled) { %>
                    <td>
                        <a href="#" data-id="<%= user.id %>" class="disable btn btn-danger">
                            Disable
                        </a>
                    </td>
                <% } else { %>
                    <td>
                        <a href="#" data-id="<%= user.id %>" class="enable btn btn-success">
                            Enable
                        </a>
                    </td>
                <% } %>
            <% } else { %>
                <td></td>
            <% } %>

            <% if (loginId == 1 && user.role != 'super') {%>
                <% if (user.role == 'user') { %>
                    <td>
                        <a href="/admin/user/promote/<%= user.id %>" class="btn btn-success"> Promote </a>
                    </td>
                <% } else { %>
                    <td>
                        <a href="/admin/user/demote/<%= user.id %>" class="btn btn-danger"> Demote </a>
                    </td>
                <% } %>
            <% } else { %>
                <td></td>
            <% } %>
        </tr>
    <% }) %>
</table>

<div class="modal fade" id="modalDisableUser" role="dialog" style="z-index: 99999" data-id="">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to disable this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnConfirmDisable">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEnableUser" role="dialog" style="z-index: 99999" data-id="">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to enable this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnConfirmEnable">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </div>
    </div>
</div>

<script src="/public/javascripts/admin/delete-confirm.js"></script>
<script src="/public/javascripts/admin/enable-confirm.js"></script>