<% layout('./layouts/admin.ejs') -%>

<h2>List of CVs of <%= user %> </h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Title</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <% resumes.forEach(function (resume) { %>
    <tr>
        <td><a href="/resumes/preview/<%= resume.id %>" target="_blank"><%= resume.title %></a></td>
        <td><%= resume.firstName %></td>
        <td><%= resume.lastName %></td>
    </tr>
    <% }) %>
</table>
