<% layout('./layouts/main.ejs') -%>
<div class="container">
	<div class="panel panel-info">
  	<!-- Default panel contents -->
  		<div class="panel-heading">Your resumes</div>
  		<% if (resumes.length == 0 ) {%>
  		<div class="panel-body">
		    <p>You have no resume. <a href="/createresume">Create your first resume!</a></p>
  		</div>
  		<% } else {%>
	  	<!-- Table -->
	  	<table class="table table-responsive">
	    	<thead>
	    		<tr>
	    			<th>#</th>
	    			<th>Resume title</th>
	    			<th>Privacy</th>
	    			<th>Actions</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<% for (var i = 0; i < resumes.length; i++) { %>
	    			<tr>
	    				<td><%= i+1 %></td>
	    				<td><a href="/resumes/preview/<%= resumes[i].id%>"><%= resumes[i].title %></a></td>
	    				<td><% if (resumes[i].publicLink) { %>
	    					Public
	    					<button data-toggle="popover" data-id="<%=i%>" title="Share link" class="btn btn-link btn-xs">
	    						<span class="glyphicon glyphicon-link"></span>
	    					</button>
	    					<div id="pop-content-<%=i%>" class="hidden">
	    						<input type="text" value="<%= resumes[i].publicLink %>">
	    					</div>
	    					<% } else { %>
	    						Private
	    					<% } %>
	    				</td>
	    				<td>
	    					<div class="btn-group btn-group-xs">
	    					<a href="/resumes/preview/<%= resumes[i].id %>" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> Preview</a>
	    					<a href="/resumes/<%= resumes[i].id %>?type=pdf" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
	    					<% if (resumes[i].publicLink) { %>
	    					<button data-id="<%= resumes[i].id %>" class="btn btn-default prv-res">
	    						<span class="glyphicon glyphicon-lock"></span> Private
	    					</button>
	    					<% } else{ %> 
	    					<button data-id="<%= resumes[i].id %>" class="btn btn-default pub-res">
	    						<span class="glyphicon glyphicon-globe"></span> Public
	    					</button>
	    					<% }; %>
	    					
	    					<a href="/resumes/edit/<%= resumes[i].id %>" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
	    					<button data-id="<%= resumes[i].id %>" class="btn btn-danger del-res">
	    						<span class="glyphicon glyphicon-remove"></span> Delete
	    					</button>

	    					</div>
	    				</td>
	    			</tr>
	    		<% }; %>
	    	</tbody>
	  	</table>
	  	<% } %>
	</div>
	<script src="/public/javascripts/resumes/index.js"></script>
</div>
