<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Responsive Resume/CV Template for Developers</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/public/stylesheets/template-css/nonresponsive-boostrap.css">  
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/public/stylesheets/template-css/font-awesome/css/font-awesome.min.css">      
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/public/stylesheets/template-css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="<%= user.photoUrl %>" alt="<%= user.firstname +" "+ user.lastname %>" />
                <h1 class="name"><%= user.firstname +" "+ user.lastname %></h1>
                <h3 class="tagline"><%= user.sumHeadline %></h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: <%= user.email %>"><%= user.email %></a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:<%= user.phone %>"><%= user.phone %></a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="<%= user.website %>" target="_blank"><%= user.website %></a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="#" target="_blank">linkedin.com/in/alandoe</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="#" target="_blank">github.com/username</a></li>
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">@twittername</a></li>
                    <li class="address"><i class="fa fa-map-marker"></i><%= user.address %></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <% for (var i = 0 ; i < user.educations.length ; i++) { %>
                <div class="item">
                    <h4 class="degree"><%= user.educations[i].degree %></h4>
                    <h5 class="meta"><%= user.educations[i].institute %></h5>
                    <div class="time"><%= user.educations[i].startMonth %> - <%= user.educations[i].endMonth %></div>
                    <div class="edu-detail"><%= user.educations[i].detail %></div>
                </div><!--//item-->
                <% } %>                
            </div><!--//education-container-->
            <% if (user.languages.length > 0 ) { %>
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li><%= user.languages[i].name %> <span class="lang-desc">(<%= user.languages[i].proficiency %>)</span></li>
                </ul>
            </div><!--//languages-->
            <% } %>          
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
                <div class="summary">
                    <%= user.sumContent %>
                </div><!--//summary-->
            </section><!--//section-->
            <% if (user.experiences.length > 0) { %>
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>                
                <% for(var i=0; i<user.experiences.length; i++) { %>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><%= user.experiences[i].designation %></h3>
                            <div class="time"><%= user.experiences[i].startMonth %> - <%= user.experiences[i].endtMonth %></div>
                        </div><!--//upper-row-->
                        <div class="company"><%= user.experiences[i].company %></div>
                    </div><!--//meta-->
                    <div class="details">
                        <%= user.experiences[i].details %>
                    </div><!--//details-->
                </div><!--//item-->
                <% } %>
            </section><!--//section-->
            <% } %>
            <% if (user.projects.length > 0) { %>
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <% for(var i=0; i<user.projects.length; i++) {%>
                <div class="item">
                    <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>
                    
                </div><!--//item-->               
                
            </section><!--//section-->
            <% } %>
            <% if (user.skills.length > 0) { %>
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">
                <% for(var i=0; i<user.skills.length; i++) { %>        
                    <div class="item">
                        <h3 class="level-title"><%= user.skills[i].name %></h3>
                        <span></span>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->   
                <% } %>             
                </div>  
            </section><!--//skills-section-->
        <% } %>    
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="public/javascripts/template/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="public/javascripts/template/bootstrap.min.js"></script>    
    <!-- custom js -->
    <script type="text/javascript" src="public/javascripts/template/main-min.js"></script>            
</body>
</html> 

